body {
    background: #333;
    color: white;
}
h1 {
    text-align: center;
    font-size: 40px;
}
.second-h1 {
font-size: 30px;
}
img {
    width: 350px;
    height: auto;
}
p {
    font-size: 20px;
}
.project {
    width:fit-content
}
.home {
    width: fit-content;
}
